.comments-wrapper {
  width: 100%; }
  .comments-wrapper .add-comment {
    margin: 20px auto 0;
    background-color: #fad73c;
    color: #0058a3; }
  .comments-wrapper.has-comments {
    padding-bottom: 72px; }
  .comments-wrapper.has-comments .add-comment, .comments-wrapper.is-editing .add-comment {
    display: none; }
