.comments-wrapper {
  width: 100%;

  .add-comment {
    margin: 20px auto 0;
    background-color: #fad73c;
    color: #0058a3;
  }

  &.has-comments {
    padding-bottom: 72px;
  }

  &.has-comments, &.is-editing {
    .add-comment {
      display: none;
    }
  }
}
