.single-comment {
  position: relative;
  background-color: #edf0f2;
  padding-top: 20px;
  padding-bottom: 44px;
  margin-top: 36px; }
  .single-comment:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #edf0f2; }
  .single-comment h3 {
    margin: 0 0 4px;
    font-size: inherit;
    text-align: center; }
  .single-comment .collapsible-text {
    max-height: 60px; }
    .single-comment .collapsible-text.expanded {
      max-height: none; }
    .single-comment .collapsible-text:after {
      background: linear-gradient(to bottom, rgba(237, 240, 242, 0.5) 0%, #edf0f2 100%); }
    .single-comment .collapsible-text button {
      background-color: #edf0f2; }
  .single-comment footer {
    position: absolute;
    bottom: -72px;
    width: 100%;
    text-align: center; }
