.single-comment {
  position: relative;
  background-color: #edf0f2;
  padding-top: 20px;
  padding-bottom: 44px;
  margin-top: 36px;

  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #edf0f2;
  }

  h3 {
    margin: 0 0 4px;
    font-size: inherit;
    text-align: center;
  }

  .collapsible-text {
    max-height: 60px;

    &.expanded {
      max-height: none;
    }

    &:after {
      background: linear-gradient(to bottom, rgba(#edf0f2, .5) 0%, #edf0f2 100%);
    }

    button {
      background-color: #edf0f2;
    }
  }

  footer {
    position: absolute;
    bottom: -72px;
    width: 100%;
    text-align: center;
  }
}
