main {
  width: 945px;
  margin: 0 auto;
  background-color: #f5f6f7; }
  main:after {
    content: '';
    display: table;
    clear: both; }

.reviews-wrapper {
  width: 625px;
  margin: -115px auto 0; }
