body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

.page {
  min-width: 1200px;
  max-width: 1600px;
  margin: 0 auto;
}

.action-button {
  display: block;
  padding: 22px 68px 20px;
  border: 0;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #333;
  outline: 0;
  cursor: pointer;
}
