.collapsible-text {
  position: relative;
  max-height: 98px;
  overflow: hidden; }
  .collapsible-text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #fff 100%); }
  .collapsible-text p {
    position: relative;
    margin: 0;
    line-height: 1.4;
    cursor: pointer; }
  .collapsible-text button {
    position: relative;
    z-index: 2;
    border: 0;
    margin: 0;
    padding: 0 36px 0 0;
    outline: 0;
    width: 100%;
    background-color: #fff;
    color: #90989f;
    font-size: 80%;
    text-align: right;
    cursor: pointer; }
    .collapsible-text button.hidden {
      display: none; }
  .collapsible-text.expanded {
    max-height: none; }
    .collapsible-text.expanded:after {
      opacity: 0; }
    .collapsible-text.expanded p {
      cursor: text; }
