.single-review {
  margin-bottom: 77px;
  background-color: #fff;
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-132px);
  padding: 37px 44px 30px; }
  .single-review:last-of-type {
    margin-bottom: 0; }
  .single-review:after {
    content: '';
    display: table;
    clear: both; }
  .single-review header {
    text-align: center;
    margin-top: -74px; }
  .single-review .created {
    color: #90989f;
    font-size: 80%; }
  .single-review h2 {
    font-size: 28px;
    font-weight: 300; }
  .single-review .collapsible-text p {
    padding: 0 36px; }
