.page > header {
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  background: url("./assets/bg.jpg") no-repeat 50% 50%;
  background-size: cover; }

nav {
  display: flex;
  justify-content: space-between;
  width: 946px;
  height: 100px;
  margin: 30px auto 0;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); }
  nav > a {
    display: flex; }
  nav h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 36px;
    margin: 0; }
    nav h1 img {
      width: 120px; }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: flex; }
    nav li a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 30px;
      color: #0058a3;
      text-decoration: none; }
      nav li a.active {
        color: #333;
        background-color: #f5f6f7; }
