.user-avatar {
  margin: 0; }
  .user-avatar img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 4px; }
  .user-avatar figcaption {
    font-weight: 700;
    line-height: 1.4; }
  .user-avatar small {
    display: block;
    font-size: 100%;
    font-weight: 400; }
  .user-avatar.review-header img {
    border: 2px solid #fff; }
  .user-avatar.review-header figcaption {
    margin-bottom: 4px;
    color: #0058a3; }
  .user-avatar.comment-footer img {
    border: 2px solid #edf0f2; }
  .user-avatar.comment-footer figcaption {
    font-size: 80%; }
