.user-avatar {
  margin: 0;

  img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 4px;
  }

  figcaption {
    font-weight: 700;
    line-height: 1.4;
  }

  small {
    display: block;
    font-size: 100%;
    font-weight: 400;
  }

  &.review-header {
    img {
      border: 2px solid #fff;
    }

    figcaption {
      margin-bottom: 4px;
      color: #0058a3;
    }
  }

  &.comment-footer {
    img {
      border: 2px solid #edf0f2;
    }

    figcaption {
      font-size: 80%;
    }
  }
}
