.review-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 310px;
  height: 48px;
  margin: 0 auto 24px;
  border: 2px solid #eff1f3; }
  .review-rating .fas {
    color: #dfe2e6; }
    .review-rating .fas.active {
      color: #fad73c; }
    .review-rating .fas.fa-thumbs-up, .review-rating .fas.fa-thumbs-down {
      color: #fff; }
  .review-rating .satisfied, .review-rating .rating-value {
    display: flex;
    align-items: center; }
  .review-rating .satisfied {
    width: 68px;
    justify-content: center; }
    .review-rating .satisfied.thumbs-up {
      background-color: #54b13f; }
    .review-rating .satisfied.thumbs-down {
      background-color: #e8402d; }
    .review-rating .satisfied .fas {
      font-size: 20px; }
  .review-rating .rating-stars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px; }
    .review-rating .rating-stars .fas {
      font-size: 16px; }
  .review-rating .rating-value {
    justify-content: flex-start;
    width: 42px;
    font-weight: 600; }
