.review-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 310px;
  height: 48px;
  margin: 0 auto 24px;
  border: 2px solid #eff1f3;

  .fas {
    color: #dfe2e6;

    &.active {
      color: #fad73c;
    }

    &.fa-thumbs-up, &.fa-thumbs-down {
      color: #fff;
    }
  }

  .satisfied, .rating-value {
    display: flex;
    align-items: center;
  }

  .satisfied {
    width: 68px;
    justify-content: center;

    &.thumbs-up {
      background-color: #54b13f;
    }

    &.thumbs-down {
      background-color: #e8402d;
    }

    .fas {
      font-size: 20px;
    }
  }

  .rating-stars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px;

    .fas {
      font-size: 16px;
    }
  }

  .rating-value {
    justify-content: flex-start;
    width: 42px;
    font-weight: 600;
  }
}
