.comment-editor {
  position: relative;
  background-color: #edf0f2;
  padding: 20px 36px 44px;
  margin-top: 36px;

  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #edf0f2;
  }

  h3 {
    margin: 0 0 4px;
    font-size: inherit;
    text-align: center;
  }

  textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    margin: 12px auto 24px;
    padding: 12px;
    border: 1px solid rgba(#333, .5);
    outline: 0;
    resize: vertical;
    line-height: 1.4;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .cancel-edits {
    background-color: #BDBDBD;

  }

  .save-edits {
    background-color: #1976D2;
    color: #fff;

    &:disabled {
      opacity: .25;
      cursor: not-allowed;
    }
  }
}
