.comment-editor {
  position: relative;
  background-color: #edf0f2;
  padding: 20px 36px 44px;
  margin-top: 36px; }
  .comment-editor:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #edf0f2; }
  .comment-editor h3 {
    margin: 0 0 4px;
    font-size: inherit;
    text-align: center; }
  .comment-editor textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    margin: 12px auto 24px;
    padding: 12px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    outline: 0;
    resize: vertical;
    line-height: 1.4; }
  .comment-editor .actions {
    display: flex;
    justify-content: space-between; }
  .comment-editor .cancel-edits {
    background-color: #BDBDBD; }
  .comment-editor .save-edits {
    background-color: #1976D2;
    color: #fff; }
    .comment-editor .save-edits:disabled {
      opacity: .25;
      cursor: not-allowed; }
